*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 87.5%; /* 14px/16px = 87.5% -> 1rem = 10px */
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  font-weight: 300;
  line-height: 1.6;
  background-color: #6610f2;
}

#inputTodo {
  margin-right: 5px;
  border-radius: 10px;
}

#submitButton {
  font-size: 1.5rem;
  border-radius: 15px;
  /* background-color: olive; */
}

.cabecalho {
  text-align: center;
}

.mainContainer {
  width: 40vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 1rem;
  padding: 3rem 2.5rem;
  border-radius: 15px;
  background-color: #fd7e14;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.6);
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.list-item {
  border: 1px solid transparent;
  border-radius: 10px;
  margin-top: 0.3rem;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #6610f2;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.list-item-text {
  font-size: 1.2rem;
  margin: 1rem;
  color: black;
  overflow: hidden;
  font-weight: 400;
}

.list-item-icon {
  margin-right: 1rem;
  margin-left: auto;
}

.list-item-check {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  justify-self: end;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 1400px) {
  .mainContainer {
    width: 60vw;
  }
}
